<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de la Mascota</ion-title>
  </ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
</ion-header>

<ion-content>
  <ion-card *ngIf="petDetails">
    <ion-card-header>
      <ion-card-title>{{ petDetails.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ petDetails.especie }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Edad: {{ petDetails.edad }} años
      <br />
      Estado: {{ petDetails.adoptada ? 'Adoptada' : 'Disponible para adopción' }}
    </ion-card-content>

    <!-- Aquí, solo mostraremos el botón si la mascota está disponible para adopción -->
    <ion-footer>
      <ion-button *ngIf="!petDetails.adoptada"  expand="full" (click)="adoptPet()"> Adoptar </ion-button>

    <!-- Si la mascota está adoptada, mostramos un mensaje de "Adoptada" (opcional) -->
    <ion-button *ngIf="petDetails.adoptada"expand="full"disabled>Adoptada</ion-button>
    </ion-footer>
  </ion-card>
</ion-content>
