<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title>solicitud para dar en adopcion</ion-title>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button> 
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let usuario of usuarios">
    <ion-label>
      <h2>Email: {{ usuario.email }}</h2>
      <p>Contraseña: {{ usuario.password }}</p>
    </ion-label>
  </ion-item>
</ion-content>
