ion-content {
    --background: url('/assets/icon/fondoanimales.avif') no-repeat center center / cover; 
ion-item{
        --background: transparent;
    margin-top: 15px;
}
ion-label{
    background-color: rgb(245, 230, 255);
}
ion-card{
    background-color: rgb(245, 230, 255);
}

}