<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-title>animales en adopcion</ion-title>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button> 
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card *ngFor="let pet of pets">
      <ion-card-header>
        <ion-card-title>{{ pet.nom_masc }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Edad: {{ pet.edad_masc }} años</p>
        <p>Especie: {{ pet.especie_masc }}</p>
        <p>Adoptado: {{ pet.adoptado ? 'Sí' : 'No' }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
