<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-title>animales en adopcion</ion-title>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button> 
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pet of pets">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ pet.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Especie: {{ pet.especie }}</p>
          <p>Edad: {{ pet.edad }}</p>
          <p>¿Adoptada?: {{ pet.adoptada === 'true' ? 'Sí' : 'No' }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>