<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title>Redes de contacto</ion-title>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button> 
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contáctanos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>HelpetsProtect&#64;gmail.com</ion-label> <!-- Aquí usé la entidad HTML para @ -->
        </ion-item>
  
        <ion-item>
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
          <ion-label>Instagram: &#64;Helpets</ion-label> <!-- Entidad HTML para @ -->
        </ion-item>
  
        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>Llámanos: (2) 111 111 111</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
          <ion-label>WhatsApp: +569 5283 8982</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
